*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #2E8B57;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: #F5F5DC;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #F5F5DC;
}
.center .fillup{
	position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  padding: 0 20px;
  color: #333333;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
  
  
  .center .form{
	position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  padding: 0 20px;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.center .contact-info{position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  padding: 0 20px;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2E8B57 ;
   color: white;
   text-align: center;
}